@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Electrolize:400&text=0123456789);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic);

* { margin: 0; padding: 0; font-size: 1em; }
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

html {
  background: #124;
  color: #ddd;
}

.cover {
  pointer-events: none;
  background: url(assets/bg.jpg) center center / cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 0.5;
}

.all {
  position: relative;
  z-index: 1;
}

body {
  font-family: open sans, sans-serif;
  font-weight: 300;
  font-size: 16pt;
  line-height: 1.5;
}

body {
  width: 100%;
  display: table;
}

#all {
  display: table-cell;
  vertical-align: middle;
}

.page {
  width: 90%;
  margin: 20px auto;
}

img.logo {
  width: 90px;
  display: block;
  margin: 0 auto 30px auto;
}

textarea {
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: none;
  resize: none;
  width: 100%;
  height: 1.2em;
  line-height: 1.5;
}

textarea:focus {
  outline: 0;
}

.timer, .date {
  text-align: center;
}

.timer {
  text-align: center;
  font-size: 2em;
}

.date {
  margin-top: 3em;
  font-size: 0.8em;
}

.heading-1 {
  font-family: electrolize, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #2ecc71;
  font-size: 2em;
}

.heading-2 {
  font-family: open sans, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  color: white;
  font-size: 2em;
}

.heading-3,
.heading-4 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2ecc71;
}

.heading-3 {
  font-size: 0.8em;
}

.heading-4 {
  margin-top: 0;
  line-height: 1.6;
}

div.hr {
  margin: 3em auto;
  width: 40px;
  height: 1px;
  border-top: solid 1px #888;
}

.message-box {
  font-size: 10pt;
  background: #fff;
  border-radius: 3px;
  margin: 0 auto;
  color: #333;
  max-width: 300px;

  line-height: 2em;

  position: relative;
  z-index: 1;
}

.message-box input {
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  font-size: 1.3em;
}

.message-box .hint {
  border-top: solid 1px #ddd;
  background: #fcfcfc;
  display: block;
  font-style: 1em;
  padding: 10px 30px;
}

/* ---------------------------------------------------------------------------- */

.hide {
  display: none;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}
